pkgbase = trcc-linux
	pkgdesc = Thermalright LCD/LED Control Center for Linux
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/jemte/thermalright-trcc-linux
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-pip
	depends = python
	depends = pyside6
	depends = python-numpy
	depends = python-psutil
	depends = python-pyusb
	depends = python-click
	depends = python-typer
	depends = python-fastapi
	depends = libusb
	depends = sg3_utils
	depends = p7zip
	optdepends = python-pynvml: NVIDIA GPU sensor support
	optdepends = python-dbus: Wayland session support
	optdepends = python-gobject: Wayland session support
	optdepends = python-hidapi: Alternative HID transport
	source = trcc-linux-0.1.0.tar.gz::https://github.com/jemte/thermalright-trcc-linux/archive/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = trcc-linux
